*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: 3550px;
}
header{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background-color: #444;
    position: fixed;
    width: 91%;
}
header .icon a{
    color: white;
    padding-right: 22px;
}
header .icon a:hover{
    cursor: pointer;
}
header .nav a{
    padding-right: 25px;
    color: white;
    text-decoration: none;
}
header .nav .web{
    font-size: 35px;
}
header .nav .web span{
    color: yellowgreen;
}

#sec1{
    padding-top: 150px;
    background-color:transparent;
    
   
}
#sec1 h2{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}
#sec1 .content{
    margin: 1%;
    width: calc(92%/4);
    float: left;
    transition: 0.4s linear;
   
}
#sec1 .content:hover{
transform: scale(1.1);
cursor: pointer;
}

#sec1 .content img{
    height: 100%;
    width: 100%;
  
}
#sec1 .content p{
   font-size: 20px;
   text-align: center;
   font-weight: 800;
}

#sec2 .info1 a{
    float: right;
    padding: 50px;
    font-size:35px;
    font-weight: 400;
   
}
#sec2 .info1 a:hover{
    cursor: pointer;
    color: green;
}
#sec2 .info1 button{
    margin: 50px;
    padding: 10px;
    background-color: white;
    border: 1px solid green;
    font-size: 20px;
}
#sec2 .info1 button:hover{
    cursor: pointer;
    background-color: greenyellow;
}
#sec2 .contain{
    margin: 1%;
    width: calc(92%/4);
    float: right;
    cursor: pointer;
  
}
#sec2 .contain img{
    height: 100%;
    width: 100%;
}
#sec2 .contain a,p,h4{
    direction: rtl;
    margin-bottom: 15px;
}
#sec2 .contain a{
    text-decoration: none;
    font-size: 20px; 

}
#sec2 .contain a:hover{
   color:   green;
    
}
#sec3 .left{
    background-color: gold;
    margin-top: 30px;
}
#sec3 .right{
 float: right;
 background-color: gold;
 margin-top: 30px;

}

#sec3 .left{
    float: left;

}
#sec3 a{
    display: block;
    margin: 20px;
    text-decoration:none ;
    color: black;
}
#sec3 a:hover{
    color: green;
}
#sec3 .ap{
    font-size: 25px;
    font-weight:800 ;
}
#sec3 a .icon{
    display: inline;
    padding-right: 20px;
}

footer{
    background-color: red;
    font-size: 30px;
}
    
